<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Carlos Moreno Sánchez y Alejandro Cortés Puerta.
</p>

<img src="images/fotocortes.jpg" width="70" height="90"/>
<img src="images/índice.jpg" width="70" height="90"/>

<p>
    Url del repositorio git: https://github.com/carlosmorenosanchez/quiz_2017
</p>



