<h1>Ayuda</h1>

<p>
    Este programa consiste en un juego (quiz) en el que se pueden crear, destruir, y responder a preguntas. Es una red social de adivinanzas (ya que permite multiples usuarios).
</p>



